{% macro player_name(name, color, tag='td') %}
	<{{ tag }} bgcolor="{{ color }}">&nbsp;&nbsp;</{{ tag}}>
	<{{ tag }}>{{ name | title }}</{{ tag }}>
{% endmacro %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>18xx rankings</title>
	<style>
	table {
		border-collapse: collapse;
	}
	td, th {
		border: 1px solid black;
	}
	.right {
		text-align: right;
	}
	</style>
</head>
<body>

<h1>Global stats</h1>
Total games played: {{ plays | length }}<br />
First recorded game: {{ dates[0] }}<br />
Last recorded game: {{ dates[-1] }}<br />

<h1>Player statistics</h1>
<table>
	<tr>
		<th></th>
		<th>Name</th>
		<th>Played</th>
		<th>Wins</th>
		<th>Ratio</th>
		<th>ELO</th>
		<th>Glicko rating</th>
		<th>Glicko RD</th>
		<th>Glicko 95% CI</th>
		<th>Old F1 points</th>
		<th>New F1 points</th>
		<th>Total score</th>
		<th>Mean score</th>
	</tr>
	{% for name, player in players|dictsort %}
		<tr class="right">
			{{ player_name(name, player.color) }}
			<td>{{ player.played }}</td>
			<td>{{ player.wins }}</td>
			<td>{{ ((player.wins / player.played) * 100) | int }}%</td>
			<td>{{ player.elo | round | int }}</td>
			<td>{{ (player.glicko_mu * GLICKO_FACTOR + 1500) | round(2) }}</td>
			<td>{{ (player.glicko_phi * GLICKO_FACTOR) | round(2) }}</td>
			<td>
				{{ ((player.glicko_mu - 2 * player.glicko_phi)
				* GLICKO_FACTOR + 1500) | round(2)}}-{{ ((player.glicko_mu
				+ 2* player.glicko_phi) * GLICKO_FACTOR + 1500) | round(2) }}
			</td>
			<td>{{ player.old_F1_points }}</td>
			<td>{{ player.new_F1_points }}</td>
			<td>{{ player.scores | sum }}</td>
			<td>
				{{ ((player.scores|sum) / (player.scores|length)) | round(2) }}
			</td>
		</tr>
	{% endfor %}
</table>

<img src="rankings_glicko_gaussians.png" alt="Current Glicko ranking">

<h2>Historic rankings</h2>
<img src="rankings_elo.png" alt="History of ELO ranking">
<img src="rankings_glicko.png" alt="History of Glicko ranking">

<p>
For details on ELO see
<a href="https://en.wikipedia.org/wiki/Elo_rating_system">Wikipedia</a>. For
details on Glicko see
<a href="https://en.wikipedia.org/wiki/Glicko_rating_system">Wikipedia</a> or
<a href="http://glicko.net/glicko.html">the Glicko website</a>.
</p>

<h1>Player positions</h1>
<table>
	<tr>
		<th></th>
		<th></th>
		{% for count in positions.keys() %}
			<th></th>
			<th colspan="{{ count + 1 }}">{{ count }} player</th>
		{% endfor %}
	</tr>
	<tr>
		<th></th>
		<th>Position</th>
		{% for count in positions.keys() %}
			<th></th>
			{% for pos in range(count) %}
				<th>
					{% if loop.index % 10 == 1 and loop.index != 11 %}
						{{ loop.index }}st
					{% elif loop.index % 10 == 2 and loop.index != 12 %}
						{{ loop.index }}nd
					{% else %}
						{{ loop.index }}th
					{% endif %}
				</th>
			{% endfor %}
			<th>Total</th>
		{% endfor %}
	</tr>
	{% for name, player in players | dictsort %}
		<tr class="right">
			{{ player_name(name, player.color) }}
			{% for count in positions.keys() %}
				<td></td>
				{% for pos in range(count) %}
					<td>
						{% if name in positions[count] %}
							{{ positions[count][name][loop.index] }}
						{% endif %}
					</td>
				{% endfor %}
				<td>
					{% if name in positions[count] %}
						{{ positions[count][name].values() | sum }}
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<h1>Head to head</h1>
<p>Indicates how many times a player has beaten another player. Each row
indicates how often that player has beaten the players in the columns.</p>
<table>
	<tr>
		<td colspan="2"></td>
		{% for name, player in players | dictsort %}
			{{ player_name(name, player.color, 'th') }}
		{% endfor %}
	</tr>
	{% for name_row, player_row in players | dictsort %}
		<tr>
			{{ player_name(name_row, player_row.color, 'th') }}
			{% for name_column, player_column in players | dictsort %}
				<td colspan="2" class="right">
					{% if (name_row, name_column) in head2head %}
						{{ head2head[(name_row, name_column)].0 }}
					{% elif (name_column, name_row) in head2head %}
						{{ head2head[(name_column, name_row)].1 }}
					{% endif %}
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>

<h1>Game statistics</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Plays</th>
	</tr>
	{% for name, game in games | dictsort %}
		<tr>
			<td>{{ game.name }}</td>
			<td>{{ game.times_played }}</td>
		</tr>
	{% endfor %}
</table>

<h2>F1 scores</h2>
<table>
	<tr>
		<td></td>
		{% for i in range(NEW_F1 | length) %}
			<th>{{ i + 1 }}</th>
		{% endfor %}
	</tr>
	<tr>
		<td>New F1</td>
		{% for score in NEW_F1 %}
			<td>{{ score }}</td>
		{% endfor %}
	</tr>
	<tr>
		<td>Old F1</td>
		{% for score in OLD_F1 %}
			<td>{{ score }}</td>
		{% endfor %}
	</tr>
</table>

<h1>Recorded games</h1>
<table>
	<tr>
		<th>Date</th>
		<th>Game</th>
		<th colspan="2">Player</th>
		<th>Score</th>
	</tr>
	{% for play in plays | reverse %}
		<tr>
			<td rowspan="{{ play.ranking | length }}">{{ play.date }}</td>
			<td rowspan="{{ play.ranking | length }}">{{ play.game.name }}</td>
		{% for player in play.ranking %}
			{% if not loop.first %}
				<tr>
			{% endif %}
			{{ player_name(player.name, players[player.name].color) }}
			<td>{{ player.score }}</td>
			</tr>
		{% endfor %}
	{% endfor %}
</table>

</body>
</html>
